/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: rgb(233, 233, 233);
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 60%;
    margin: auto;
}

form {
    width: 40%;
    margin: auto;
}

.loader {
    width: 100px;
    margin: 30px auto;
    animation: fadeInDown 0.5s ease-out forwards;
}

.loader img {
    height: 100px;
    width: 100px;
    animation: spin 1.5s linear infinite forwards;

}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}