<div *ngIf="isLoading" class="loader">
    <img src="../../assets/loader.png" alt="loader">
</div>
<div *ngIf="!isLoading" class="fadein">
    <h1>Add New Music</h1>
    <p>Add new music to the list</p>
    <form>
        <div>
            <label for="musicName">Music Name:</label><br />
            <input type="text" id="musicName" name="musicName" [(ngModel)]="inputName">
        </div>
        <div>
            <label for="author">Author:</label><br />
            <input type="text" id="author" name="author" [(ngModel)]="inputAuthor">
        </div>
        <div>
            <label for="publicationYear">Publication Year:</label><br />
            <input type="number" id="publicationYear" name="publicationYear" [(ngModel)]="inputYear">
        </div>
        <div>
            <label for="imageLink">Album Cover Link:</label><br />
            <input type="link" id="imageLink" name="imageLink" [(ngModel)]="inputLink">
        </div>
        <div>
            <label for="genre">Genre:</label><br />
            <a href="/create-genre">Add new <strong>Genre</strong></a><br />
            <select name="genre" id="genre" [(ngModel)]="inputGenre">
                <option [value]="genre.id" *ngFor="let genre of genresList">{{genre.name}}</option>
            </select>
        </div>
        <button type="submit" (click)="updateMusic()">Create</button>
    </form>
</div>