<div *ngIf="musicLoading" class="loader">
    <img src="../../assets/loader.png" alt="loader">
</div>
<div *ngIf="!musicLoading">
    <div>
        <div class="controls">
            <div>
                <h1>Welcome, <span class="bold">{{currentUser}}!</span></h1>
                <p>Here is the list of songs</p>
            </div>
            <a href="/create-music" class="createMusic">
                Add Music +
            </a>
        </div>
        <div class="musicGrid">
            <div *ngFor="let music of musicList" class="musicItem">
                <div class="musicInfo">
                    <img [src]="music.imageLink" alt="Music Image">
                    <p class="name">{{ music.name }}</p>
                    <p class="author">{{ music.author }}</p>
                    <p class="yearandgenre">{{ music.publicationYear + " | " + music.musicGenre.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>