nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    transition: .2s all;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
}